{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <div class="inner-container">      
            {{ content }}
                <div class="presentation about">
                    <div>
            <p>
            I am a freelance web designer and developer with a passion for crafting creative, functional, and user-friendly websites! </p>
            
            <p>I’m always excited to explore new technologies, but I also rely on solid foundations like PHP and SQL to deliver reliable solutions. </p>
            <p>Whether it’s designing something fresh or solving complex programming challenges, I thrive on turning ideas into reality.</p>

            <p>Looking for someone to bring your next cool project to life? Let’s make it happen!</p>
            </div>

            <div class="flex-col-container">
            <a href="{{ base_url }}/contact" class="highlink internal">Let's get in touch! &#10132;</a>

            <a href="{{ base_url }}/highlights" class="highlink internal">Check out my latest work &#10132;</a>
            
            <a href="{{ base_url }}/docs" class="highlink internal">Documentation about the design &#10132;</a>
            </div>
            </div>

             <div class="info-container">
            <h2>What's the purpose of this page, you might ask?</h2>
            <p>Well, this page was created to showcase my skills as Bew Gorp.</p>

            <p>My goal is for you—hopefully my future client or employer— 
            to become interested enough in me as a designer and developer 
            to reach out and see what I can do for you.</p>

            <p>It’s essentially a "help me, help you" situation, 
            and I’m eager to see where our journey takes us!</p>
            </div>
</div>
</div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
