{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">   
    <article class="inner-container">   

            {{ content }} 
           <div class="presentation index">
            
            <ul class="basics">
            <li>&#10004; Web designer</li>
            <li>&#10004; Web developer</li>
            <li>&#10004; Web programmer</li>
            <li> &#128205; Stockholm, Sweden</li>
            </ul>
            

            <div class="link-container">
                   <h2> <a href="{{ base_url }}/highlights" class="index-links">Work</a></h2>
                    <h2><a href="{{ base_url }}/about" class="index-links">About</a></h2>
                    <h2><a href="{{ base_url }}/contact" class="index-links">Contact</a></h2>
            
            </div>
            </div>
    </article>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
