@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
$heading-font: 'Merriweather', Georgia, serif !default;
$primary-font: 'Inter', sans-serif !default;

$font-color: #333 !default;
$font-alt-color: #ece8d8 !default;

//$background-color: #b9aead !default;
//$primary-color: rgb(242, 242, 245) !default;
$background-color: #797b76 !default;
$primary-color: #d4d1c4 !default;
$accent-color: #a4a59d !default;
$link-color: #08052d !default;

//$secondary-color: rgb(83, 81, 81) !default;
$box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
