@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

$heading-font: 'Barrio', Georgia, serif !default;
$primary-font: Arial, sans-serif !default;

$font-color: #fff !default;
$font-alt-color: #333 !default;


$background-color: #277a7a !default;
$primary-color: rgb(242, 242, 245) !default;
//$secondary-color: rgb(83, 81, 81) !default;
$accent-color: #d8a966 !default;
