@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

$heading-font: 'Barrio', Georgia, serif !default;
$primary-font: Arial, sans-serif !default;

$font-color: #fff !default;
$font-alt-color: #333 !default;


$background-color: #277a7a !default;
$primary-color: rgb(242, 242, 245) !default;
//$secondary-color: rgb(83, 81, 81) !default;
$accent-color: #d8a966 !default;

$box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
