@use 'variables' as vars;

.highlight {
    padding: 1em;
    margin:  1.5em 0;
    background: linear-gradient(vars.$primary-color, vars.$background-color);
    border-radius: 12px;
        box-shadow: vars.$box-shadow;


    h2 {
        color: vars.$font-color;
        margin-left: 16px;
    }

    p {
        overflow: visible;
        color: vars.$font-color;
    }

    picture img {
        margin: 1em 0;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 6px;
        box-shadow: vars.$box-shadow;
        color: vars.$font-color;
        filter: grayscale(60%);
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 7px;
        font-style: italic;
    }
}

.mock-text h2 {
    text-align: center;
}
